@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    html {
        font-size: 110%;
    }
}

@media only screen and (min-width: 90em) {
    html {
        font-size: 120%;
    }
}

@media only screen and (min-width: 120em) {
    html {
        font-size: 130%;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a:focus {
    outline: 3px solid #000;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0.5em 0.75em;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

.title {
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    background-color: #1F2E3C;
    font-weight: bold;
    color: white;
}

.table-column {
    background-color: #efefef;
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

.team {
    text-align: center;
    margin: 0;
    padding: 0;
}

.intro {
    color: white;
    background-image: url(../images/mars.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}

form {
max-width: 35em; 
margin: 0 auto;
}

label {
    display: block;
    text-align: left;
}

input + label {
    display: inline-block;
}

.field {
  width: 100%;
  padding: 4px;   
}

.age {
   width: 100%;
}

.awesome {
    text-align: left;
}

textarea {
   width: 100%;
    height: 15em;
}

button {
    font-size: 1rem;
    font-family: sans-serif;
    color: #000;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.radio {
    white-space: nowrap;
    text-align: left}
}

.search {
    text-align: left;
}

.gray {
    background-color: #1F2E3C;
    overflow: hidden;
}

.light-gray {
    text-align:center;
}

.bottom-gray {
    background-color:#333333;
}

.white {
    color: white;
}
 
img {
  display: block;
  width: 100%;
}

.character-color {
    background-color: #333333;
}

.img-color {
    background-color: #efefef;
}

.nav {
    padding: 0;
}


a {
    display: inline-block;
    color:white;
    text-decoration: none;
    padding: 0.5rem;
}

nav li a:hover {
      color: white;
      background-color: #999999;
}

.nav-bottom li::after {
    content: " · ";
    color: white;
}

.nav-bottom li:last-child::after {
    content: none;
}

@media only screen and (min-width: 25em) {
    
    .nav {
        text-align:center;
        padding: 0;
    }
    
    .nav li {
        display: inline-block;
        border: 0;
    }
    
    .footer {
        text-align: center;
    }
}
 
@media only screen and (min-width: 38em) {

    .title{
        text-align: left;
        }

    .nav {
        text-align: left;
        } 
    
     .footer {
        text-align: right;
    }
    
    .copyright {
        color: white;
    }
    
    table, td, th, tr {
        border: none;
        border-bottom: 1px solid #1F2E3C;
    }

}

@media only screen and (min-width: 60em) {
    
    .title {
        text-align: left;
    }
    
    .nav {
        text-align:left;
    }
    
     .footer {
        text-align: right;
    }
    
     .data dt {
        float: left;
        clear: left;
        width: 10rem;
    }
    
     .data dd {
        float: left;
    }
}

@media only screen and (max-width: 17rem), (min-device-width: 17rem) and (max-device-width: 17rem)
{
       table, th, td, tr{
        display: block;
    }
    
    .table-header {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { 
        border: 1px solid black;
    }

    td {
        border: 1px solid black;
        position: relative;
    }
    
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-left: 10px;
        white-space: nowrap;
    }
}